<!DOCTYPE html>
<html>
	<head>
        {% include meta_tags/base.html %}
        {% include meta_tags/sharing.html %}
        {% include externals/styling.html %}
        <!-- Old stuff for comparsion and tracking
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        -->
	</head>
	<body>
        <div class="wrapper">
            {% include header.html %}

            {{ content }}
        </div>
        {% include externals/scripting.html %}
        {% include externals/google_analytics.html %}
        <!-- Old stuff for comparsion and tracking
        <nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
        </nav>
		<div class="container">

            {{ content }}
            
        </div>
        <footer>
    		<ul>
        		<li><a href="mailto:example@gmail.com">email</a></li>
        		<li><a href="https://github.com/dvrico">github.com/dvrico</a></li>
            </ul>
		</footer>
        -->
	</body>
</html>
